<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <title>Заказ: {{ordername}}</title>
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}">
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <div class="hat" id="hat">
        <div class="logoBox"><img src="{% static 'img/logo1.png' %}"><a href="/index/">
                <h1 id="title">Crystal Studio</h1>
            </a></div>
        <div class="menuBut" onclick="showMenu()"><img id="menuBut" class="menuButImg" src="{% static 'img/menu.png' %}"></div>
    </div>
    <nav id="menu">
        <p>// Order //</p>

        <a href="/VidEd/">Видеомонтаж</a>
        <a href="/Prog/"><del>Программирование</del></a>
        <a href="/Design/"><del>Веб-дизайн</del></a>
        <hr>
        <p>// Authentication //</p>

        <a href="/login/">Вход</a>
        <a href="/reg/">Регистрация</a>
        <hr>
        <p>// Info //</p>

        <a href="/contacts/">Контакты</a>
    </nav>
    <div class="content-order">
        <div class="order">
            <div class="information">
                <div class="information-title">
                    <p>Общая информация<img src="{% static 'img/penn.png' %}" onclick="change_information()"></p>
                    <button class="hide" id="save-information" onclick="save_information()">Сохранить</button>
                </div>
                <div class="information-info">
                    <table>
                        <tr>
                            <td>
                                <p>Название</p>
                            </td>
                            <td>
                                <p id="name">{{ordername}}</p>
                                <input id="name-i" value={{ordername}} class="hide">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Статус заказа</p>
                            </td>
                            <td>
                                <p id="status">{{orderstatus}}</p>
                                <input id="status-i" value={{orderstatus}} class="hide">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Дедлайн(мск)</p>
                            </td>
                            <td>
                                <p id="date">{{orderdeadline}}</p>
                                <input id="date-i" value={{orderdeadline}} class="hide">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Исполнитель</p>
                            </td>
                            <td class="profile-worker">
                                {%if orderworker != ""%}<img src="{% static 'img/avatar1.png' %}">
                                <p>{{orderworker}}</p>
                                {%else%}
                                <img>
                                <p>пока исполнителя нет</p>
                                {%endif%}
                            </td>
                        </tr>
                    </table>
                    <div class="description">
                        <div>
                            <p>Описание:</p>
                        </div>
                        <div class="description-info">
                            <p id="description"> {{orderabout}} </p>
                            <textarea id="description-i" class="hide">{{orderabout}}</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="files-links">
                <div class="files">
                    <div class="files-title">
                        <p>Файлы<img src="{% static 'img/penn.png' %}" onclick="change_files()"></p>
                        <button class="hide" id="save-files" onclick="save_files()">Сохранить</button>
                    </div>
                    <!-- цикл открыт для отрисовки блоков файлов i штук -->
                    <div class="file">
                        <p>i file</p> <!-- i-тый файл -->
                        <button class="hide" id="file-but-sub-i" onclick="delete_fileorlink(i, 'file')">-</button> <!-- id для i-той кнопки -->
                    </div>
                    <!-- цикл закрыт -->
                    <div id="add-file" class="hide">
                        <div class="add-file">
                            <button>
                                <input id="file-uploader" type="file" name="file" accept="image/*,video/*">
                                <label id="file-up" for="file-uploader">+</label>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="links-title">
                        <p>Ссылки<img src=" {% static 'img/penn.png' %}" onclick="change_links()"></p>
                        <button class="hide" id="save-links" onclick="save_links()">Сохранить</button>
                    </div>
                    <!-- цикл открыт для отрисовки блоков ссылок i штук -->
                    <div class="file">
                        <p>i link</p> <!-- i-тая ссылка -->
                        <button class="hide" id="link-but-sub-i" onclick="delete_fileorlink(i, 'link')">-</button> <!-- id для i-той кнопки -->
                    </div>
                    <!-- цикл закрыт -->
                    <input class="hide" id="input-link" placeholder="введите ссылку"></input>
                    <div id="add-link" class="hide">
                        <div class="add-file">
                            <button>
                                <label id="file-up" onclick="add_link()">+</label>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="back-inorders" onclick="back_orders()">
            <img src="{% static 'img/arrow_5.png' %}">
        </div>
        <div class="message">
            <img src="{% static 'img/message_icon.png' %}" onclick="open_chat()">
        </div>
    </div>
    <!-- футер -->
    <div class="footer">
        <div class="urls">*Какие-то ссылки*</div>
        <div class="creators">designed by WolframX <br/> & LisaGrdlv</div>
    </div>
</body>
<script>
    const fileUploader = document.getElementById("file-uploader");
file = "";
url = "";
let msg = "";
fileUploader.addEventListener('change', function () {
    file = this.files;
    // отправляем файл на сохранение в бек
    //если ответ от бека положительный
    id = 2;//из бд должно браться допустим
    //вызываем функцию которая отрисовывает новый блок файла, данные: имя и может номер(id) для удаления из бд
    add_file(file[0].name, id);
});
function back_orders() {
    window.location.href="/profile/";
}
function open_chat() {
    console.log("open_chat");
}

nameOrderp = document.getElementById("name");
statusOrderp = document.getElementById("status");
dateOrderp = document.getElementById("date");
descriptionOrderp = document.getElementById("description");
nameOrderi = document.getElementById("name-i");
statusOrderi = document.getElementById("status-i");
dateOrderi = document.getElementById("date-i");
descriptionOrderi = document.getElementById("description-i");

function change_information() {
    nameOrderp.classList.add("hide");
    statusOrderp.classList.add("hide");
    dateOrderp.classList.add("hide");
    descriptionOrderp.classList.add("hide");
    nameOrderi.classList.remove("hide");
    statusOrderi.classList.remove("hide");
    dateOrderi.classList.remove("hide");
    descriptionOrderi.classList.remove("hide");
    document.getElementById("save-information").classList.remove("hide");
}
function save_information() {
    console.log(200000, nameOrderi.value);
    //отправляем в бек данные: nameOrderi.value, statusOrderi.value, dateOrderi.value, descriptionOrderi.value,
    $.ajax({
                        url: '/editinformationorder/',
                        type: 'POST',
                        data: {
                            name: nameOrderi.value
                        },
                        dataType: 'json',
                        success: function(data) {
                            alert("Success")
                        },
                        error: function(xhr, textStatus, errorThrown) {
                            alert('Ошибка подключения');
                        }
                    });
    //если сохранилось то идем дальше
    nameOrderp.innerHTML = nameOrderi.value;
    statusOrderp.innerHTML = statusOrderi.value;
    dateOrderp.innerHTML = dateOrderi.value;
    descriptionOrderp.innerHTML = descriptionOrderi.value;
    nameOrderp.classList.remove("hide");
    statusOrderp.classList.remove("hide");
    dateOrderp.classList.remove("hide");
    descriptionOrderp.classList.remove("hide");
    nameOrderi.classList.add("hide");
    statusOrderi.classList.add("hide");
    dateOrderi.classList.add("hide");
    descriptionOrderi.classList.add("hide");
    document.getElementById("save-information").classList.add("hide");
}

function change_files() {
    document.getElementById("save-files").classList.remove("hide");
    document.getElementById("add-file").classList.remove("hide");
    //здесь могут возникнуть проблемы с show/hide кнопки удаления файлы
    // для кнопок удаления чтоб показывались
    countFiles = 3;//количество файлов закинутых в бд/отрисовано блоков файлов
    for (idFile = 1; idFile <= countFiles; idFile++) {
        console.log(idFile);
        document.getElementById(`file-but-sub-${idFile}`).classList.remove("hide");
    }
}
function save_files() {
    //отправляем в бек данные, если сохранилось то идем дальше
    document.getElementById("save-files").classList.add("hide");
    document.getElementById("add-file").classList.add("hide");
    //здесь могут возникнуть проблемы с show/hide кнопки удаления файлы
    // для кнопок удаления чтоб скрывались
    countFiles = 3;//количество файлов закинутых в бд/отрисовано блоков файлов
    for (idFile = 1; idFile <= countFiles; idFile++) {
        console.log(idFile);
        document.getElementById(`file-but-sub-${idFile}`).classList.add("hide");
    }
}
function change_links() {
    document.getElementById("save-links").classList.remove("hide");
    document.getElementById("add-link").classList.remove("hide");
    document.getElementById("input-link").classList.remove("hide");
    //здесь могут возникнуть проблемы с show/hide кнопки удаления ссылки
    // для кнопок удаления чтоб показывались
    // countFiles = 3;//количество ссылок закинутых в бд/отрисовано блоков ссылок
    // for (idFile = 1; idFile <= countFiles; idFile++) {
    //     console.log(idFile);
    //     document.getElementById(`link-but-sub-${idFile}`).classList.remove("hide");
    // }
}
function save_links() {
    //отправляем в бек данные, если сохранилось то идем дальше
    document.getElementById("save-links").classList.add("hide");
    document.getElementById("add-link").classList.add("hide");
    document.getElementById("input-link").classList.add("hide");
    //здесь могут возникнуть проблемы с show/hide кнопки удаления ссылки
    // для кнопок удаления чтоб скрывались
    countFiles = 3;//количество ссылок закинутых в бд/отрисовано блоков ссылок
    for (idFile = 1; idFile <= countFiles; idFile++) {
        console.log(idFile);
        document.getElementById(`link-but-sub-${idFile}`).classList.add("hide");
    }
}
function add_file(nameFile, idFile) {
    const d = document.createElement('div');
    d.setAttribute('class', 'file');
    const p = document.createElement('p');
    p.textContent = nameFile.toString();
    const b = document.createElement('button');
    b.setAttribute('id', `file-but-sub-${idFile}`); // для нумерации и отличия блоков с файлами
    b.textContent = '-';
    const f = document.getElementsByClassName("files")[0];
    f.insertBefore(d, f.lastElementChild);
    d.appendChild(p);
    d.appendChild(b);
    b.addEventListener('click', () => {
        f.removeChild(d);
    });
}
function add_link(){
    const i = document.getElementById("input-link");
    if(i.value=="") {
        console.log("sorry, error");
        return;
    }
    numberLink = 2; //номер ссылки откуда-то подтягивается
    const d = document.createElement('div');
    d.setAttribute('class', 'file');
    const p = document.createElement('p');
    p.textContent = i.value;
    i.value = "";
    const b = document.createElement('button');
    b.setAttribute('id', `link-but-sub-${numberLink}`); // для нумерации и отличия блоков с ссылками
    b.textContent = '-';
    const f = document.getElementsByClassName("links")[0];
    f.insertBefore(d, f.lastElementChild.previousElementSibling);
    d.appendChild(p);
    d.appendChild(b);
    b.addEventListener('click', () => {
        f.removeChild(d);
    });
}

function delete_fileorlink(i, ftype) {
    document.getElementById(`${ftype}-but-sub-${i}`).parentNode.remove();
}
</script>
</html>