<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>TEST</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Prog.css' %}">
        <script src="{% static 'js/index.js' %}"></script>
    </head>
    <body>
        <div class="hat" id="hat">
        
            <div class="logoBox"><img src="{% static 'img/logo1.png' %}"><a href="/index/"><h1 id="title">Crystal Studio</h1></a></div>
            <div class="avatar_menu">
                {% if username != "" %}
                <div class="nickname_avatar_hat" onclick="window.location.href='/profile/'">
                    <div class="nickname_hat">#{{username}}</div>
                    <div class="avatar_hat"><img id="avatarImg" src="{% static 'img/avatar1.png' %}"></div>
                </div>
                {% endif %}
                <div class="menuBut" onclick="showMenu()"><img id="menuBut" class="menuButImg" src="{% static 'img/menu.png' %}"></div>
            </div>
        </div>
        <nav id="menu">
            <p>//   Order   //</p>
            
            <a href="/VidEd/">Видеомонтаж</a>
            <a href="/Prog/"><del>Программирование</del></a>
            <a href="/Design/"><del>Веб-дизайн</del></a>
            <hr>
            <p>//   Authentication   //</p>
            
            <a href="/login/">Вход</a>
            <a href="/reg/">Регистрация</a>
            <hr>
            <p>//   Info   //</p>
            
            <a href="/contacts/">Контакты</a>
        </nav>

        <div class="content">
            <div class="line">
                <div class="tagline">Программирование</div>
            </div>
            <div class="line">
                <div class="about"><p class="glitchText">В настоящий момент эта услуга недоступна</p><p>Описание программирования, возможных предоставляемых услуг. *какой-то текст для поддержания видимости большого объема текста который по идее должен тут быть*</p></div>
                <div class="img50"><img src="{% static 'img/img_placeholder.jpg' %}"></div>
            </div>
            <div class="line">
                <div class="img50 reflect"><img src="{% static 'img/img_placeholder.jpg' %}"></div>
                <div class="about"><p>Описание программирования, возможных предоставляемых услуг. *какой-то текст для поддержания видимости большого объема текста который по идее должен тут быть* *какой-то текст для поддержания видимости большого объема текста который по идее должен тут быть*</p></div>
            </div>
        </div>


        <div class="footer">
            <div class="urls">*Какие-то ссылки*</div>
            <div class="creators">designed by WolframX</div>
        </div>
        <script>
        
        loaded('{{username}}')
        </script>
    </body>
</html>